<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tarunisrani.dailykharcha">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".android.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".android.TodoActivity"/>
        <activity android:name=".android.ReminderActivity"/>
        <activity android:name=".android.ExpenseActivity"
            android:label="Expense Sheet List"/>
        <activity android:name=".android.ExpenseDetailActivity"
            android:label="Expense Sheet Details"/>
        <activity android:name=".android.ExpenseAddItemActivity"
            android:label="Expense Details"/>
        <activity android:name=".android.AnalyseSheetActivity"
            android:label="Analysis"/>
        <activity android:name=".android.BluetoothChat">
        </activity>
        <activity android:name=".android.DeviceListActivity"/>
    </application>

</manifest>
